* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: start;
  width: 55vw;
  margin: auto;
  margin-top: 50px;
}

.accordian {
  display: flex;
  justify-content: space-between;
  background-color: rgb(220, 216, 216);
  color: black;
  border: 1px solid rgb(165, 165, 165);
  padding: 0 10px;
}
.accordian:hover {
  background-color: rgb(143, 141, 141);
}
.first,
.second,
.third {
  padding: 12px 15px;
}

.hiddenText {
  background-color: white;
  border-right: 1px solid rgb(123, 119, 119);
  border-left: 1px solid rgb(123, 119, 119);
  border-bottom: 1px solid rgb(123, 119, 119);
  border-collapse: collapse;
  display: none;
  padding: 12px 15px;
}

.fa-solid {
  cursor: pointer;
}
i.cross {
  display: none;
}

@media all and (max-width: 780px) {
  .container {
    width: 95vw;
  }
}